<%- include('partials/user-header-log') %>
  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-3">Hey Secrets!</h1>
      <hr>
      <div class="row">
        <% user.secret.forEach(function(sct){ %>
          <div class="col-lg-4" id="card-img">
            <div class="card text-center text-white">
              <img src="images/student4.jpg" class="card-img">
              <div class="card-img-overlay">
                <h2 class="card-text align-middle w-100 h-100" id="img-words">
                  <%=sct.singleSecret%>
                </h2>
                <div class="row">
                  <div class="col-lg-6">
                    <!-- delete this post -->
                    <form action="/delete" method="post">
                      <input type="hidden" name="postID" value="<%=sct.id%>"></input>
                      <button type="submit" class="btn btn-danger">delete</button>
                    </form>
                    <!-- end of delete -->
                  </div>
                  <div class="col-lg-6">
                    <!-- update this post -->
                    <form action="/modify" method="POST">
                      <input type="hidden" name="postContent" value="<%=sct.singleSecret%>"></input>
                      <input type="hidden" name="postID" value="<%=sct.id%>"></input>
                      <button type="submit" class="btn btn-warning">modify</button>
                    </form>
                    <!-- end of delete -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
      </div>
      <div id="row-buttons">
        <a class="btn btn-primary btn-lg " href="/submit" role="button">Create a Secret</a>
        <a class="btn btn-dark btn-lg " href="/signout" role="button">Log Out</a>
      </div>
    </div>
  </div>

  <%- include('partials/user-footer') %>