<% if (flag === "true") { %>
  <%- include('partials/user-header-log') %>
<% } else { %>
  <%- include('partials/user-header-unlog') %>
<% } %> 
  <div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-3">Hey Secrets!</h1>
      <hr>
      <div class="row">
        <% usersWithSecrets.forEach(function(user){ %>
          <% user.secret.forEach(function(sct){ %>
            <div class="col-lg-4" id="card-img">
              <div class="card text-center text-white">
                <img src="images/student4.jpg" class="card-img">
                <div class="card-img-overlay">
                  <h2 class="card-text align-middle w-100 h-100" id="img-words">
                    <%=sct.singleSecret%>
                  </h2>
                  <!-- add buttons -->
                  <div class="row">
                    <div class="col-lg-4">
                      <!-- like this post -->
                      <form action="/like" method="post">
                        <input type="hidden" name="userID" value="<%=user.id%>"></input>
                        <input type="hidden" name="postID" value="<%=sct.id%>"></input>
                        <button type="submit" class="btn btn-primary far fa-thumbs-up">like</button>
                      </form>
                      <!-- end of like -->
                    </div>
                    <div class="col-lg-4">
                      <!-- dislike this post -->
                      <form action="" method="POST">
                        <input type="hidden" name="postContent" value="<%=sct.singleSecret%>"></input>
                        <input type="hidden" name="postID" value="<%=sct.id%>"></input>
                        <button type="submit" class="btn btn-warning far fa-thumbs-down">dislike</button>
                      </form>
                      <!-- end of dislike -->
                    </div>
                    <div class="col-lg-4">
                      <!-- comment this post -->
                      <form action="" method="POST">
                        <input type="hidden" name="postContent" value="<%=sct.singleSecret%>"></input>
                        <input type="hidden" name="postID" value="<%=sct.id%>"></input>
                        <button type="submit" class="btn btn-success far fa-comment-dots">comment</button>
                      </form>
                      <!-- end of comment -->
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <% }); %>
              <% }); %>
      </div>
      <div id="row-buttons">
        <a class="btn btn-primary btn-lg " href="/submit" role="button">Create a Secret</a>
        <a class="btn btn-dark btn-lg " href="/signout" role="button">Log Out</a>
      </div>
    </div>
  </div>

  <%- include('partials/user-footer') %>